div.actions h3{
    color: #bc1310;
}
.userBox {
	color: #bc1310;
}
#footer {
	background:#bc1310;
}
.dashBox h3 {
	color: #bc1310;
}
.riskAssHead h3{
	color: #bc1310;
}
.important{
	color: #bc1310;
}
.training h2{
    color: #bc1310
}