@media print {
/*@page { size: landscape; }*/
.navWrap { display:none }
/*#header .logo{
	width:141px;
	height: 35px;
}
#header{
	height: 50px;
	padding: 0;
}*/
#header {
    display: none;
}
div.view{
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	font-size: 75%;
	float: none;
}
/*dl{
	line-height: 1em;
}*/
h1, h2, h3, h4, h5 {
    color: #000000;
    font-size: 250%;
}
#footer{
	display: none;
}
.actions { display:none }
.userBox  { display:none }
#debug-kit-toolbar{
	display: none;
}
th {
    background-color: #ffffff;
    color: #000000;
}
table, th, tr, td {
    border: 1px solid #929AA4;
    page-break-inside: avoid !important;
}
.avoidBreak {
    page-break-inside: avoid !important;
    margin: 4px 0 4px 0;  /* to keep the page break from cutting too close to the text in the div */
}
.organizationPofiles dt {
    width: 50% !important;
    line-height: 3em !important;
}

.organizationProfiles dd {
    margin-left: 50% !important;
    line-height: 3em !important;
    background: #FFFFFF !important;
}
.organizationProfiles p, dt, dd {
    font-size: 175% !important;
    background: #FFFFFF !important;
}
.riskAssessments {
    padding: 0; !important;
    margin: 0; !important;
    width: 90% !important;   
}   
}
